<div id="body">
    <ul id="nest"></ul>
</div>
<form id="NestAuthenticationForm" method="post">
    <h3>Enter the Nest authentication pin</h3>
    <p>
        <label for="Pin">Nest Authentication Pin:</label>
        <input type="text" name="pin"/>
    </p>
    <input type="button" id="authenticate" value="Authenticate"
</form>

<script type="text/javascript">
    $('#authenticate').click(function()
    {
        $.post("api/Nest",
            $("#NestAuthenticationForm").serialize(),
            function(value)
            {
                $('#nest').append('<li>' + value.Name + '</Li>');
            },
        "json"
        );
    });
</script>

