<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JarvisConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="nest_client-id" value="8b250652-08b4-4966-a4d0-d3ca43ca3d6c" />
    <add key="nest_client-secret" value="5XWj9LNr7WnDXOL3xVKbXsCpk" />
    <add key="nest_thermostat_id" value="h_DQLrYTrv1n9d3olpdqb2RIQandptth" />
    <add key="harmony_ip" value="192.168.1.4" />
    <add key="wit_token"  value="HJHUAWTSYWSTRCPJBYTJILWEZ7X4EY53" />
    <add key="volume_interval"  value="4" />
    <add key="temperature_interval"  value="2" />
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <JarvisConsole.Properties.Settings>
      <setting name="NestAccessToken" serializeAs="String">
        <value />
      </setting>
    </JarvisConsole.Properties.Settings>
  </userSettings>
</configuration>